.pre-text {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	word-wrap: normal;
    word-break: keep-all;
	background-color: inherit;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: keep-all;
}

.nav-side {
    position: fixed;
    right:0;
    top: 0px;
    height:100%;
    width: 100%;
    max-width: 350px;
    background-color: #8d322c;
    box-sizing: border-box;
    passing: 20px;
    color: white;
    margin-right: -350px;
    transition: margin 250ms ease-in-out;
}

.annotation-list {
    height: 100%;
    overflow-y: auto;
}

.annotation-list a {
    color: inherit;
    text-decoration: none;
}

.nav-side h2 {
    text-align: center;
}

.nav-side.nav-open {
    margin-right: 0;
}

.nav-toggle {
    position: absolute;
    left: -40px;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #8d322c;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.nav-toggle:before {
    content: "\2190";
    font-weight:bold;
    font-size: large;
    color:white;
}

a.nav-toggle {
    text-decoration: none;
}

.nav-side.nav-open .nav-toggle:before {
    content: "\2192";
}

.nav-side .annotation {
    margin-left: 7px;
    margin-right: 7px;
}

.nav-side .annotation .text {
    text-align: left;   
}

.nav-side .annotation .username {
    text-align: right;
    font-style: italic;
}

.group-list {
    -webkit-column-width: 120px;
    -moz-column-width: 120px;
    column-width: 120px;
    list-style-type: circle;
}

.annotatable {
    width: 100%;
}


.annotation-comment-icon {
    margin-left: 5px;
}

.annotation-details {
    text-align: right;    
}

.annotation-item {
    
}

.comment-box {
    width: 75%;
}

.comments-discussion {
    padding-left: 25px;
    padding-right: 25px;
}

.comment-box-discussion {
    width: 90%;
    border-radius: 5px; 
}

.comments-button {
    
}

.comment-count {
    text-align: center;
}

.annotorious-popup-field {
    color: #909090;
    font-size: 12px;
}

.annotorious-popup-text {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.annotation-tag {
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 0 8px;
    margin: 2px;
    line-height: 1.6;
    background-color: #e6e6e6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.annotorious-editor-tag-field {
    overflow-y: hidden;
    overflow-x: auto;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 4px;
}